# Unveiling Insights: Python Data Analysis of E-Commerce Sales Dataset

<img src="Shopping.jpeg" width=600 height=450 />

## Introduction

In today’s digital age, E-commerce has revolutionized the way we shop and conduct business. With the rise of online platforms, enormous amounts of data are generated daily. This treasure trove of information holds valuable insights that can drive strategic decision-making. In this blog, we delve into a Python data analysis of an E-commerce sales dataset, unearthing meaningful patterns and trends that can inform business strategies and optimize performance.


## Tools used for the data analysis

**Python:** With Python as our tool of choice, we can leverage powerful libraries like Pandas and NumPy to explore, clean, and analyze this data efficiently. We use Matplotlib and Seaborn for the visualization libraries. So main python libraries used are: 

- Numpy
- Pandas
- Matplotlib
- Seaborn

## Data Preprocessing
Before diving into the analysis, it’s crucial to preprocess the dataset. This step involves handling missing values, removing duplicates, and ensuring consistency in data formats. By employing Python’s Pandas library, we can perform these tasks seamlessly, ensuring the integrity of our analysis.

## Understanding the Dataset

To begin our analysis, let’s gain some insights into the E-commerce sales dataset we’ll be working with. The dataset comprises various attributes, including customer information, product details, transactional data, and sales records. In the present data analysis project, we have datasets on 

1. Sale Report
2. International sale Report
3. Amazon Sale Report

with following data on
- Customer Information
- Product Details
- Transaction Data  
- Sales Records
- Promotions
- Promotion Types
- Promotion Targets
- Promotion Results
- Promotion Activities



## Exploratory Data Analysis (EDA)

With the dataset prepared, we can now unleash the power of Python to uncover fascinating insights through EDA. Let’s explore a few key aspects:

1. **Sales Performance Analysis:** By aggregating sales data, we can determine the top-selling products, identify peak sales periods, and evaluate the performance of different product categories. Python’s data visualization libraries such as Matplotlib and Seaborn enable us to create informative charts and graphs to better understand sales patterns.

2. **Customer Segmentation:** Using techniques like clustering and RFM (Recency, Frequency, Monetary) analysis, we can segment customers based on their purchasing behavior. This allows us to identify high-value customers, understand their preferences, and tailor marketing strategies accordingly.

3. **Geographic Analysis:** Analyzing sales data by geographical regions can reveal lucrative markets and highlight areas for potential expansion. Python’s geospatial libraries, such as GeoPandas and Folium, can help create interactive maps to visualize sales patterns geographically.

4. **Seasonal Trends and Forecasting:** We can identify seasonal trends and patterns by examining historical sales data. Python provides libraries like Prophet and ARIMA to perform time series analysis and make accurate sales forecasts, enabling businesses to plan inventory, marketing campaigns, and resource allocation effectively.


Insights and Recommendations: Upon completing our data analysis, we uncover valuable insights that can drive actionable recommendations for the E-commerce business:

- **Product Optimization:** Identify underperforming products and focus on improving their sales through marketing campaigns, product enhancements, or pricing strategies.

- **Targeted Marketing:** Tailor marketing efforts by leveraging customer segmentation insights. Create personalized campaigns to target high-value customers and improve customer retention.

- **Geographical Expansion:** Identify regions with high sales potential and consider expanding operations or targeting marketing efforts in those areas.

- **Inventory Planning:** Utilize sales forecasting models to optimize inventory management, ensuring sufficient stock levels during peak demand periods while minimizing excess inventory costs.

# Data Analysis

## Importing the Python libraries

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

## Loading the important datasets

We have following datasets:

1. Amazon Sale Report.csv
2. Internationalsale Report.csv
3. May-2022.csv
4. P L March 2021.csv
5. Sale Report.csv

Here in our present analysis, we load datsets 1, 2, and 5 for out analysis.

In [9]:
df_amz = pd.read_csv('Amazon Sale Report.csv', low_memory = False)
df_int = pd.read_csv('International sale Report.csv', low_memory = False)
df_sale = pd.read_csv('Sale Report.csv', low_memory = False)

In [10]:
df_amz.head() # top 5 rows of the dataset

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [11]:
df_amz.shape # dataset shape = 24 columns, 12897 rows

(128975, 24)

In [8]:
df_amz.info() # datatype of each columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

clearly we need to change the data type of few columns. For example: Date

In [12]:
df_amz['Date'] = pd.to_datetime(df_amz['Date']) # converting 'Date' datatype from object to Datetime.

In [14]:
df_amz.isna() # checking the null values in the dataset

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
128971,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
128972,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
128973,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
128974,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [16]:
df_amz.isna().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

So droping the null values from the dataset...

In [17]:
df_amz.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

## Conclusion

Python’s data analysis capabilities empower businesses to extract meaningful insights from complex E-commerce sales datasets. By leveraging Python libraries and techniques, we can uncover patterns, segment customers, identify sales trends, and make informed decisions to drive growth and success. The analysis we conducted is just a glimpse into the vast possibilities that data-driven approaches offer in the realm of E-commerce. So, let’s embrace the power of Python and unlock the potential hidden within our data for a competitive edge in the dynamic world of online retail.

## E-Commerce Sales Dataset

- https://data.world/anilsharma87/sales
- https://www.kaggle.com/datasets/thedevastator/unlock-profits-with-e-commerce-sales-data
- https://www.kaggle.com/code/jaysonli/e-commerce-sales-analysis/notebook